@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

#maindiv{
    font-family: 'Ubuntu', sans-serif;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin: 15% 15% 15% 15%;
    text-align: center;
    padding: 80px;
}

body{
    background-image: url(patternsmall.jpg);
    /* image source: https://unsplash.com/photos/WwCTFNpZx8g */
    background-repeat: repeat;
}

header{
    font-size:2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label, input, select{
    font-size: 1.5vw;
    font-weight: 700;
}

table{
    margin: auto;
    border: solid 4px black;
    background-color: rgba(131, 25, 25, 0.299); 
    border-radius: 10px;  
}

img{
    max-width: 5vw;
}

input {
     max-width: 200px;
}
tr, td{
    border: solid 4px black;
}


